<div class="container">
  <form action="action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="rname">Restaurant Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="rname" name="restaurantname" placeholder="Enter restaurant name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="fname">Food Ordered</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="foodname" placeholder="Enter food ordered..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="rating">Add a Rating</label>
      </div>
      <div class="col-75">
        <select id="rating" name="rating">
          <option value="one">1</option>
          <option value="two">2</option>
          <option value="three">3</option>
          <option value="four">4</option>
          <option value="five">5</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="review">Add a Review</label>
      </div>
      <div class="col-75">
        <textarea id="review" name="review" placeholder="Write a review.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>