
{% extends "_base.html" %}
{% block content %}
<title>
    Pitt Munchies Home
</title>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#list">All Restaurants</a>
    <a href="all_reviews">Reviews</a>
    <div class="dropdown">
        <button onclick="dropFunction()" class="dropbtn">
               My Account<i class="fa fa-caret-down"></i>
             </button>
         <div id="myDropdown" class="dropdown-content">
           <a href="logout">Log Out</a>
         </div>
       </div>
    <div class="search">
     <form id="search" class="nav" role="search" style="margin:auto;max-width:800px">
        <input type="text" placeholder="Search..." id="search">
      <button type="submit"><i class="fa fa-search"></i></button>
     </form>
     
    </div>
    <a href="javascript:void(0);" class="icon" onclick="dropFunction()">&#9776;</a>
  </div>
  

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
function dropFunction() {
    document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
             }
        }
    }
}


function search(string){
    window.find(string);
}
</script>

<div class="home">
 <br></br><br></br>

  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3036.51770371117!2d-79.95862478453587!3d40.441677262045744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f3d0f28fefe5%3A0x718758fe77786d4a!2sSennott%20Square%2C%20University%20of%20Pittsburgh!5e0!3m2!1sen!2sus!4v1635891781808!5m2!1sen!2sus" class="floatRight" width="500" height="500" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

 <h2>My Recents</h2>  

  <div class="recents">
    {% if no_recent%} {{no_recent}} {% endif %}
    {% for review in recent %}
    <p>{{ review['restaurant'] }}</p> <br></br>
    {% endfor %} 
  </div>

 <h2>My Favorites</h2>

 <div class="favs">
    {% if no_fav %} {{no_fav}} {% endif %}
    {% for review in favs %}
    <p>{{ review['restaurant'] }}</p> <br></br>
    {% endfor %} 
    
 </div>

</div>

<div class="clear"></div> <!-- Needed for float handling -->

</div>
<br></br>
<h1 id="list" style="text-align:center; color:#FFB81C; background-color: #003594;">All Restaurants</h1>
<br></br>
 <div class="container1">
        <h3 id="chipotle" style="text-align:center;">Chipotle</h3>
        <li>Mexican</li>
        <li>Address: <a href="https://www.google.com/maps/place/Chipotle+Mexican+Grill/@40.4410384,-79.9601226,17z/data=!3m1!5s0x8834f229fa44624b:0x82267d5680ea1b13!4m12!1m6!3m5!1s0x8834f18755790bf9:0xc91159033e365b0d!2sChipotle+Mexican+Grill!8m2!3d40.4410384!4d-79.9579339!3m4!1s0x8834f18755790bf9:0xc91159033e365b0d!8m2!3d40.4410384!4d-79.9579339">3615 Forbes Ave Pittsburgh, PA 15213</a></li>
        <li>Phone: (412) 621-1557</li>
        <p></p>
        <li>Hours:</li>
        <li>Mon: 10:45 AM - 10:00 PM</li>
        <li>Tue: 10:45 AM - 10:00 PM</li>
        <li>Wed: 10:45 AM - 10:00 PM</li>
        <li>Thu: 10:45 AM - 10:00 PM</li>
        <li>Fri: 10:45 AM - 10:00 PM</li>
        <li>Sat: 10:45 AM - 10:00 PM</li>
        <li>Sun: 10:45 AM - 10:00 PM</li>
        <p></p>
        <a href="https://www.chipotle.com/" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>
    </div>
    <br></br>

    <div class="container1">
        <h3 style="text-align:center;">Roots Natural Kitchen</h3>
        <li>American</li>
        <li>Address: <a href="https://www.google.com/maps/place/Roots+Natural+Kitchen/@40.4407677,-79.9578317,15z/data=!4m5!3m4!1s0x0:0x8f75c35279831fcb!8m2!3d40.4407677!4d-79.9578317">3610 Forbes Ave, Pittsburgh, PA 15213</a>
        </li>Phone:(412) 904-3190</li>
        <p></p>
        <li>Hours:</li>
        <li>Mon: 10:30 AM - 9:30 PM</li>
        <li>Tue: 10:30 AM - 9:30 PM</li>
        <li>Wed: 10:30 AM - 9:30 PM</li>
        <li>Thu: 10:30 AM - 9:30 PM</li>
        <li>Fri: 10:30 AM - 9:30 PM</li>
        <li>Sat: 11:00 AM - 9:30 PM</li>
        <li>Sun: 11:00 AM - 9:30 PM</li>
        <p></p>
        <a href="https://www.rootsnaturalkitchen.com/address/898-prices-fork-rd-blacksburg-va-24060/?gclid=CjwKCAjwoP6LBhBlEiwAvCcthOwV2bfZA-b1XtIiVuACz_d10FbvG0Lxz3sud8WSgr53-yF4Gf6kdhoCSX0QAvD_BwE" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>
    </div>
    </li>
    <br></br>

    <div class="container1">
    <h3 style="text-align:center;"> Primanti Bros.</h3>
    <li>American</li>
    <li>Address: <a href="https://www.google.com/maps/place/Primanti+Bros.+Restaurant+and+Bar+Oakland/@40.4408438,-79.9840321,13z/data=!4m9!1m2!2m1!1sprimanti+bros!3m5!1s0x8834f229c05ca4c3:0x2f7f14f7c3abbe8!8m2!3d40.4417445!4d-79.9569192!15sCg1wcmltYW50aSBicm9zIgOIAQFaDyINcHJpbWFudGkgYnJvc5IBCnNwb3J0c19iYXI">3803 Forbes Avenue Pittsburgh, PA 15213<a/></li>
    <li>Phone: (412) 621-4444</li>
    <p></p>
    <li>Hours:</li>
    <li>Mon: 11:00 AM - 10:00 PM</li>
    <li>Tue: 11:00 AM - 10:00 PM</li>
    <li>Wed: 11:00 AM - 10:00 PM</li>
    <li>Thu: 11:00 AM - 11:00 PM</li>
    <li>Fri: 11:00 AM - 12:00 AM</li>
    <li>Sat: 11:00 AM - 12:00 AM</li>
    <li>Sun: 11:00 AM - 10:00 PM</li>
    <p></p>
    <a href="https://locations.primantibros.com/pa/pittsburgh/38002/#menu" class ="button">Menu</a>
    <a href="#" class ="button">Reviews</a>
    </div>
    </li>
    <br></br>   
    


    <div class="container1">
        <h3 style="text-align:center;">Porch at Schenley</h3> 
        <li>American</li>
        <li>Address: <a href="https://www.google.com/maps/place/The+Porch+at+Schenley/@40.4425927,-79.9555688,17z/data=!4m9!1m2!2m1!1splaces+around+cathedral+of+learning+to+eat!3m5!1s0x8834f228872ecb07:0x358805f7bc78c73a!8m2!3d40.4427046!4d-79.9530636!15sCipwbGFjZXMgYXJvdW5kIGNhdGhlZHJhbCBvZiBsZWFybmluZyB0byBlYXRaDCIKcmVzdGF1cmFudJIBE2FtZXJpY2FuX3Jlc3RhdXJhbnQ">221 Schenley Dr Schenley Plaza Pittsburgh, PA 15213<a/></li>
        <li>Phone: (412) 687-6724</li>
        <p></p>
        <li><u>Hours:</u></li>
        <li>Mon: 11:00 AM - 10:00 PM</li>
        <li>Tue: 11:00 AM - 10:00 PM</li>
        <li>Wed: 11:00 AM - 10:00 PM</li>
        <li>Thu: 11:00 AM - 10:00 PM</li>
        <li>Fri: 11:00 AM - 11:00 PM</li>
        <li>Sat: 10:00 AM - 11:00 PM</li>
        <li>Sun: 10:00 AM - 9:00 PM</li>
        <p></p>
        <a href="https://www.dineattheporch.com/schenley/menu" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>   
    </div>
    </li>
    <br></br>

    <div class="container1">
        <h3 style="text-align:center;">Pamela's Diner</h3>
        <li>American</li>
        <li>Address: <a href="https://www.google.com/maps/place/Pamela's+Diner/@40.4412741,-79.9575778,15z/data=!4m5!3m4!1s0x0:0x85711e3bfcf4be29!8m2!3d40.4412653!4d-79.9575695">3703 Forbes Ave, Pittsburgh, PA 15213<a/></li>
        <li>Phone: (412) 683-4066</li>
        <p></p>
        <li><u>Hours:</u></li>
        <li>Mon: 8:00 AM - 2:00 PM</li>
        <li>Tue: Closed</li>
        <li>Wed: Closed</li>
        <li>Thu: 8:00 AM - 2:00 PM</li>
        <li>Fri: 8:00 AM - 2:00 PM</li>
        <li>Sat: 8:00 AM - 2:00 PM</li>
        <li>Sun: 8:00 AM - 2:00 PM</li>
        <p></p>
        <a href="https://38f5a239-73ea-4e3a-9e0d-aaf50e3061cd.filesusr.com/ugd/fa9060_71868cbbe7974c4ca2c7ff94a55d6273.pdf" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>
                    
    </div>
    </li>
    <br></br>

    <div class="container1">
        <h3 style="text-align:center;">Oishii Bento</h3>
        <li>Asian</li>
        <li>Address: <a href="https://www.google.com/maps/place/Oishii+Bento/@40.4418899,-79.9571545,15z/data=!4m2!3m1!1s0x0:0xeb459d805bb47d15?sa=X&ved=2ahUKEwit0qnIp_3zAhXKmXIEHbamCPIQ_BJ6BAhVEAU">119 Oakland Ave, Pittsburgh, PA 15213<a/></li>
        <li>Phone: (412) 687-3335</li>
        <p></p>
        <li><u>Hours:</u></li>
        <li>Mon: 10:30 AM - 9:00 PM</li>
        <li>Tue: 10:30 AM - 9:00 PM</li>
        <li>Wed: 10:30 AM - 9:00 PM</li>
        <li>Thu: 10:30 AM - 9:00 PM</li>
        <li>Fri: 10:30 AM - 9:00 PM</li>
        <li>Sat: 11:00 AM - 9:00 PM</li>
        <li>Sun: Closed</li>
        <p></p>
        <a href="https://oishiibento.com/menu/" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>
    </div>
    </li>
    <br></br>
    <div class="container1">
        <h3 style="text-align:center;">Five Guys</h3> 
        <li>American</li>
        <li>Address: <a href="https://www.google.com/maps/place/Five+Guys/@40.4420154,-80.01844,12z/data=!3m1!5s0x8834f229bb866335:0x4eeb6d6f562e604!4m9!1m2!2m1!1sfive+guys!3m5!1s0x8834f229bc52269b:0x3c304bb6c11ddbb9!8m2!3d40.4422219!4d-79.9567577!15sCglmaXZlIGd1eXMiA4gBAVoLIglmaXZlIGd1eXOSARRoYW1idXJnZXJfcmVzdGF1cmFudA">117 S Bouquet St Pittsburgh, PA 15213<a/></li>
        <li>Phone: (412) 802-7100</li>
        <p></p>
        <li><u>Hours:</u></li>
        <li>Mon: 11:00 AM - 10:00 PM</li>
        <li>Tue: 11:00 AM - 10:00 PM</li>
        <li>Wed: 11:00 AM - 10:00 PM</li>
        <li>Thu: 11:00 AM - 10:00 PM</li>
        <li>Fri: 11:00 AM - 10:00 PM</li>
        <li>Sat: 11:00 AM - 10:00 PM</li>
        <li>Sun: 11:00 AM - 10:00 PM</li>
        <p></p>
        <a href="https://www.fiveguys.com/menu" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>
    </div>
    </li>
    <br></br>

    <div class="container1">
        <h3 style="text-align:center;">Noodles and Company</h3> 
        <li>American</li>
        <li>Address: <a href="https://www.google.com/maps/place/Noodles+and+Company/@40.4422344,-80.0184401,12z/data=!3m1!5s0x8834f229bfbb9d59:0x1b6332cc0ad23cc7!4m9!1m2!2m1!1sNoodles+and+company!3m5!1s0x8834f229c08ed2db:0x10f61c9bebef4098!8m2!3d40.4418195!4d-79.9568582!15sChNOb29kbGVzIGFuZCBjb21wYW55IgOIAQFaFSITbm9vZGxlcyBhbmQgY29tcGFueZIBCnJlc3RhdXJhbnQ">3805 Forbes Ave, Pittsburgh, PA 15213<a/></li>
        <li>Phone: (412) 621-0890</li>
        <p></p>
        <li><u>Hours:</u></li>
        <li>Mon: 11:00 AM - 9:00 PM</li>
        <li>Tue: 11:00 AM - 9:00 PM</li>
        <li>Wed: 11:00 AM - 9:00 PM</li>
        <li>Thu: 11:00 AM - 9:00 PM</li>
        <li>Fri: 11:00 AM - 10:00 PM</li>
        <li>Sat: 11:00 AM - 10:00 PM</li>
        <li>Sun: 11:00 AM - 10:00 PM</li>
        <a href="https://www.noodles.com/menu/" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>
      
    </div>
    </li>
    <br></br>

    <div class="container1">
        <h3 style="text-align:center;">CHiKN</h3>
        <li>American</li>
        <li>Address: <a href="https://www.google.com/maps/place/CHiKN/@40.4413175,-79.9592844,17z/data=!3m2!4b1!5s0x8834f229e81e3639:0xc4599a2b051d4a92!4m5!3m4!1s0x8834f3e789295135:0x2a38e4df9ab1db4d!8m2!3d40.441324!4d-79.957108">3712 Forbes Ave, Pittsburgh, PA 15213<a/></li>
        <li>Phone: (412) 438-8362</li>
        <p></p>
        <li><u>Hours:</u></li>
        <li>Mon: 11:00 AM - 10:00 PM</li>
        <li>Tue: 11:00 AM - 10:00 PM</li>
        <li>Wed: 11:00 AM - 10:00 PM</li>
        <li>Thu: 11:00 AM - 10:00 PM</li>
        <li>Fri: 11:00 AM - 10:00 PM</li>
        <li>Sat: 11:00 AM - 10:00 PM</li>
        <li>Sun: 11:00 AM - 10:00 PM</li>
        <p></p>
        <a href="https://www.hotchikn.com/" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>
                 
    </div>
    </li>
    <br></br>   
    <div class="container1">
        <h3 style="text-align:center;">Piada Italian Street Food</h3> 
        <li>Italian</li>
        <li>Address: <a href="https://www.google.com/maps/place/Piada+Italian+Street+Food/@40.4405941,-79.9603287,17z/data=!3m1!4b1!4m5!3m4!1s0x8834f1875671ecc3:0xa5412a1d917d843e!8m2!3d40.44059!4d-79.95814">3600 Forbes Ave Pittsburgh, PA 15213<a/></li>
        <li>Phone: (412) 224-2432</li>
        <p></p>
        <li><u>Hours:</u></li>
        <li>Mon: 10:45 AM - 10:00 PM</li>
        <li>Tue: 10:45 AM - 10:00 PM</li>
        <li>Wed: 10:45 AM - 10:00 PM</li>
        <li>Thu: 10:45 AM - 10:00 PM</li>
        <li>Fri: 10:45 AM - 10:00 PM</li>
        <li>Sat: 10:45 AM - 10:00 PM</li>
        <li>Sun: 10:45 AM - 10:00 PM</li>
        <p></p>
        <a href="https://mypiada.com/menu" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>
    </div>
    </li>
    <br></br>

    <div class="container1">
        <h3 style="text-align:center;"> McDonalds</h3> 
        <li>American</li>
        <li>Address: <a href="https://www.google.com/maps/place/McDonald's/@40.4406582,-79.9931595,13z/data=!4m9!1m2!2m1!1smcdonald's!3m5!1s0x8834f229e7c1281b:0x2e51f875346ecbbf!8m2!3d40.4412276!4d-79.9572446!15sCgptY2RvbmFsZCdzIgOIAQFaDCIKbWNkb25hbGQnc5IBFGZhc3RfZm9vZF9yZXN0YXVyYW50">3708 Forbes Ave Pittsburgh, PA 15213<a/></li>
        <li>Phone: (412) 687-3747</li>
        <p></p>
        <li><u>Hours:</u></li> 
        <li>Mon: 5:00 AM - 4:00 AM</li>
        <li>Tue: Open 24 hours</li>
        <li>Wed: 4:00 AM - 1:00 AM</li>
        <li>Thu: 5:00 AM - 4:00 AM</li>
        <li>Fri: Open 24 hours</li>
        <li>Sat: Open 24 hours</li>
        <li>Sun: 4:00 AM - 1:00 AM</li>
        <p></p>
        <a href="https://www.mcdonalds.com/us/en-us/full-menu.html" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>
    </div>
    </li>
    <br></br>

    <div class="container1">
        <h3 style="text-align:center;"> Subway</h3>
        <li>American</li>
        <li>Address: <a href="https://www.google.com/maps/place/Subway/@40.4407783,-79.9931595,13z/data=!4m9!1m2!2m1!1ssubway!3m5!1s0x8834f229ef72034f:0xcf10384cdfb8a463!8m2!3d40.4413402!4d-79.9574633!15sCgZzdWJ3YXkiA4gBAVoIIgZzdWJ3YXmSAQ1zYW5kd2ljaF9zaG9w">3707 Forbes Ave Pittsburgh, PA 15213<a/></li>
        <li>Phone: (412) 687-7550</li>
        <p></p>
        <li><u>Hours:</u></li>
        <li>Mon: 7:00 AM - 12:00 AM</li>
        <li>Tue: 7:00 AM - 12:00 AM</li>
        <li>Wed: 7:00 AM - 12:00 AM</li>
        <li>Thu: 7:00 AM - 12:00 AM</li>
        <li>Fri: 7:00 AM - 12:00 AM</li>
        <li>Sat: 9:00 AM - 12:00 AM</li>
        <li>Sun: 9:00 AM - 12:00 AM</li>
        <p></p>
        <a href="https://www.subway.com/en-US/MenuNutrition/Menu" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>
    </div>
    </li>
    <br></br>   
    <div class="container1">
        <h3 style="text-align:center;"> Stack'd Oakland</h3> 
        <li>American</li>
        <li>Address: <a href="https://www.google.com/maps/place/Stack'd+Oakland/@40.4413294,-79.9590786,17z/data=!3m1!4b1!4m5!3m4!1s0x8834f229c2648db9:0xd9c0693a0be9ab5d!8m2!3d40.4413711!4d-79.9569116">3716 Forbes Ave Pittsburgh, PA 15213<a/></li>
        <li>Phone: (412) 681-1800</li>
        <p></p>
        <li><u>Hours:</u></li>
        <li>Mon: 11:00 AM - 12:00 AM</li>
        <li>Tue: 11:00 AM - 12:00 AM</li>
        <li>Wed: 11:00 AM - 12:00 AM</li>
        <li>Thu: 11:00 AM - 12:00 AM</li>
        <li>Fri: 11:00 AM - 1:00 AM</li>
        <li>Sat: 11:00 AM - 1:00 AM</li>
        <li>Sun: 11:00 AM - 12:00 AM</li>
        <p></p>
        <a href="https://www.stackdburgers.com/oaklandmenu" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>
    </div>
    </li>
    <br></br>

    <div class="container1">
        <h3 style="text-align:center;"> Fuel and Fuddle</h3> 
        <li>American</li>
        <li>Address: <a href="https://www.google.com/maps/place/Fuel+and+Fuddle/@40.4411581,-79.9588607,17z/data=!3m2!4b1!5s0x8834f229dcb8d94b:0x6d27e5437259aff0!4m5!3m4!1s0x8834f229dcbd36dd:0x4d8b70af2248a0ef!8m2!3d40.4411759!4d-79.9566657">212 Oakland Ave, Pittsburgh, PA 15213<a/></li>
        <li>Phone: (412) 682-3473</li>
        <p></p>
        <li><u>Hours:</u></li>
        <li>Mon: 11:00 AM - 12:00 AM</li>
        <li>Tue: 11:00 AM - 12:00 AM</li>
        <li>Wed: 11:00 AM - 12:00 AM</li>
        <li>Thu: 11:00 AM - 12:00 AM</li>
        <li>Fri: 11:00 AM - 12:00 AM</li>
        <li>Sat: 11:00 AM - 12:00 AM</li>
        <li>Sun: 11:00 AM - 12:00 AM</li>
        <p></p>
        <a
            href="http://fuelandfuddle.com/newsite/wp-content/uploads/2020/08/20800-FF_Menu-FoodOnly.pdf" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>
    </div>
    </li>
    <br></br>

    <div class="container1">
        <h3 style="text-align:center;"> Hello Bistro</h3>
        <li>American</li>
        <li>Address: <a href="https://www.google.com/maps/place/Hello+Bistro/@40.4412222,-79.9916915,13z/data=!3m1!5s0x8834f229ff23d883:0xb4f5dd7044c48f55!4m9!1m2!2m1!1shello+bistro!3m5!1s0x8834f229fe74078b:0xfcc20ef476e44934!8m2!3d40.4408335!4d-79.9582105!15sCgxoZWxsbyBiaXN0cm8iA4gBAVoOIgxoZWxsbyBiaXN0cm-SAQpzYWxhZF9zaG9w">3605 Forbes Ave, Pittsburgh, PA 15213<a/></li>
        <li>Phone: (412) 687-8787</li>
        <p></p>
        <li><u>Hours:</u></li>
        <li>Mon: 10:30 AM - 8:00 PM</li>
        <li>Tue: 10:30 AM - 8:00 PM</li>
        <li>Wed: 10:30 AM - 8:00 PM</li>
        <li>Thu: 10:30 AM - 8:00 PM</li>
        <li>Fri: 10:30 AM - 8:00 PM</li>
        <li>Sat: 10:30 AM - 8:00 PM</li>
        <li>Sun: 10:30 AM - 8:00 PM</li>
        <p></p>
        <a
            href="https://www.hellobistro.com/menu" class ="button">Menu</a>
        <a href="#" class ="button">Reviews</a>
                  
    </div>
    </li>
    <br></br>
    <hr>
</div>
</section>
</body>
{% endblock %}

